/*start sidebar*/
@import '../../assets/styles/variables.scss';

.menuMain {
    position: relative;
    top: 10px;
    z-index: $z-index-left-nav;

    .menuContainer {
        cursor: pointer;
        padding-right: $padding-sm;
        position: fixed;
        right: 0;

        svg {
            width: 30px;
            height: 35px;
            position: relative;
            top: 0;
            padding-left: 5px;
            transition: opacity 0.5s, transform 0.5s;

            &:first-child {
                float: right;
            }

            &:last-child {
                left: 34px;
            }

            &:nth-child(2) {
                left: 40px;
                top: -5px;
                padding-left: 7px;
            }
        }

        .imgOpacity {
            opacity: 0;
            transform: rotate(90deg);
        }

        .clearIcon {
            width: 40px;
            height: 40px;
        }
    }
}

.asideDisplay {
    display: block;
}
.searchInputLeftNav {
    margin-top: 30px;
    padding-right: 30px;
    .searchIconSmall {
        position: relative;
        left: 30px;
        height: 20px;
        width: 20px;
    }

    input {
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        height: $height-search-input;
        padding-left: $padding-left-search-input;
        font-size: $font-size-normal;
        color: var(--primary-color);
        font-family: $font-family-doc;
        padding-bottom: 1px;
        background: var(--body-background-color);
    }
}

aside {
    padding: 0 0 0 10px;
    width: 100%;
    border-right: 0.5px var(--border-color) solid;
    left: $gutter;
    height: 100vh;
    overflow-y: auto;
    background: var(--nav-bar-color);

    .subHeading {
        margin: $gutter;
        padding-bottom: $padding-sm;
        padding-left: $padding-md;
        font-size: $font-size-normal;
        width: 100%;
        color: var(--side-nav-text);
    }

    ul {
        list-style-type: none;
        margin: $gutter;
        padding-left: 20px;
        color: var(--side-nav-text);
    }

    .navWrapper {
        margin-bottom: 12px;
        padding-top: 2px;

        & > .ulist {
            & > ul > li {
                margin-bottom: $margin-md;
                & > p {
                    padding-right: $padding-xs;
                    color: var(--sidebar-text-color);
                    font-weight: $font-weight-bold;
                    cursor: pointer;
                    display: flex;
                    & > a {
                        color: var(--side-nav-text);
                        font-weight: $font-weight-bold;
                        padding-right: $padding-xs;
                    }
                }

                .ulist {
                    ul {
                        padding-left: $padding-nested-ul;
                        li {
                            margin: $margin-links 0;
                            p {
                                font-weight: $font-weight-normal;
                                color: var(--primary-color);
                                padding-right: $padding-xs;

                                a {
                                    color: var(--primary-color);
                                    padding-right: $padding-xs;

                                    &:hover {
                                        color: var(--secondary-color);
                                    }
                                }

                                &:hover {
                                    color: var(--secondary-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        .paragraph {
            padding-left: $padding-md;
            margin-bottom: $margin-sm;

            p {
                padding-right: $padding-xs;
                margin: $margin-xs 0;
            }
        }

        .iconSpan {
            position: relative;
            right: 8px;
            top: 0px;
            img {
                width: $icon-width;
                position: relative;
                top: 2px;
                float: right;
            }
        }
    }

    .navWrapper.withHeaderFooter {
        padding-bottom: 50px;
        margin-bottom: 10px;
    }

    a {
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        width: 100%;
        display: inline-block;
    }

    hr {
        display: none;
    }

    a[target='_blank'] {
        display: flex;
        align-items: center;
    }

    .linkTitle {
        display: flex;
        cursor: pointer;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .externalLinkIcon {
        height: $icon-width;
        width: $icon-height;
        margin-left: 10px;
    }

    .forwardArrowIcon {
        height: 13px;
        width: 13px;
        position: relative;
        top: 2px;
    }

    .downArrowIcon {
        width: 16px;
        height: 16px;
        position: relative;
        top: 2px;
    }

    .toggleContainer {
        display: flex;
        justify-content: center;
    }
    .node-child {
        padding-left: 15px;
    }
}

/* Overriding react-resizable package class to match UI */
.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: 0;
    cursor: col-resize;
}

.resizable {
    position: fixed;
}
.searchInputSelector {
    margin-top: 30px;
    padding-right: 30px;
}

@media screen and (max-width: $mobile-resolution-max) {
    aside {
        height: 100%;
        display: none;
        padding-top: 0;
        padding-bottom: 0;

        .navWrapper,
        .navWrapper.withHeaderFooter {
            margin-bottom: 0;
        }
    }

    .menuContainer {
        padding: 8px;
        svg {
            &:first-child {
                padding-left: 10px;
            }

            &:last-child {
                left: 34px;
            }

            &:nth-child(2) {
                padding-left: 5px;
            }
        }
    }
}
