registry=https://registry.npmjs.org
@thoughtspot:registry=https://packagecloud.io/modeanalytics/tse/npm/
//packagecloud.io/modeanalytics/tse/npm/:_authToken=1ce15cf7381cbcbcdc43408d1257081b49cd388643452693
