.announcementBanner {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background: #dce5f9;
    color: var(--primary-color);
}

.announcementBanner__inner {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.announcementBanner__content {
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    flex: 1 1 auto;
    font-weight: 500;
    color: #4b5563;
}

.announcementBanner__link {
    color: #1a73e8;
    text-decoration: underline;
    font-size: 15px;
}

@media screen and (max-width: 767px) {
    .announcementBanner__inner {
        flex-direction: column;
        align-items: flex-start;
    }
}

