@import '../../assets/styles/variables.scss';

.searchWrapper {
    padding: 20px $padding-md 20px $padding-md;
    border-bottom: 1px var(--border-color) solid;
    position: fixed;
    width: 100%;
    background: var(--nav-bar-color);
    z-index: $z-index-search;
    display: flex;

    height: '300px';
}

.inClusterSite {
    top: 0;
}
.search-hint {
    padding: 10px 20px;
    background: var(--nav-bar-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    .search-hint-strong {
        padding: 0 5px;
    }
    .search-hint-icon {
        padding: 0 6px;
        margin-top: 3px;
    }
}

.modal-search {
    border-bottom: 1px solid var(--border-color);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 40px 0;
    input {
        width: 100%;
        border: none;
        height: $height-search-input;
        padding-left: $padding-left-search-input;
        font-size: 15px;
        color: var(--border-color);

        font-family: $font-family-doc;
        padding-bottom: 1px;
        background: inherit;
    }
    ::-webkit-input-placeholder {
        color: white;
    }
   
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.searchInputWrapper {
    .searchInputContainer {
        display: flex;
        align-items: center;
        width: 100%;
    }
    input:focus {
        outline: 0;
    }

    input::placeholder {
        color: $darkgrey;
    }

    .searchIcon {
        position: relative;
        left: 20px;
        height: $icon-width;
        width: $icon-height;
    }

    .resultContainer {
        position: absolute;
        max-height: $result-container-max-height;
        top: 80px;
        overflow: auto;
        width: 100%;
    }

    .result {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        .list-search-item {
            padding: 18px 20px;
        }

        .title {
            line-height: $line-height-result-title;
            font-size: $font-size-normal;
            font-weight: $font-weight-normal;
            color: var(--secondary-color);
            margin: 0;
        }

        .footer {
            margin: 0 $margin-search-result;
            font-weight: $font-weight-normal;
            font-size: $font-size-small;
            line-height: $line-height-result-footer;
            color: var(--primary-color);
        }
        &:hover {
            background: $text-container-background;
        }
        cursor: pointer;
    }

    .active {
        background: $text-container-background;
    }
}


@media screen and (max-width: $mobile-resolution-max) {
    .searchWrapper {
        left: 0;
        padding: 20px 5px 10px 10px;
        margin-right: 5px;
        width: 100%;

        .searchInputWrapper {
            width: 75%;
        }
    }

    .visHidden {
        visibility: hidden;
    }
}
