@import './variables.scss';

.documentWrapper .admonitionblock {
    margin: 1.4rem 0 0;
    line-height: $admonition-content-line-height;

    p {
        font-size: calc((#{$admonition-font-factor-p} / #{$rem-base}) * 1rem);
    }

    td.content {
        font-size: calc((#{$admonition-font-factor-p} / #{$rem-base}) * 1rem);
        padding: 2rem 1rem 0 0.75rem;
        background: var(--admonition-background);
        width: 100%;
        word-wrap: anywhere;
        border: 1px solid $disabledcolor;
        border-radius: 5px;
        box-shadow: var(--box-shadow);

        & > :not(.title):first-child {
            margin-top: 0;
        }

        & > .title + * {
            margin-top: 0;
        }
    }

    pre {
        font-size: calc((#{$admonition-font-factor-pre} / #{$rem-base}) * 1rem);
    }

    .icon {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5rem 0;
        height: 1.25rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        border-radius: 0.45rem;
        transform: translate(-0.5rem, -50%);
        font-size: $admonition-title-font-size;
        line-height: $admonition-title-line-height;

        i {
            display: inline-flex;
            align-items: center;
            height: 100%;

            &::after {
                content: attr(title);
            }
        }
    }

    &.caution .icon {
        color: $caution-color;
    }

    &.important .icon {
        color: var(--var-important-color);
    }

    &.note .icon {
        color: var(--var-note-color);
    }

    &.tip .icon {
        color: $tip-color;
    }

    &.warning .icon {
        color: $warning-color;
    }

    & > table {
        table-layout: fixed;
        position: relative;
        width: 100%;
    }
}
