@import './variables.scss';
@import './padding.scss';
@import './margin.scss';

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Medium.otf') format('opentype');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimo-Plain';
    src: url('../fonts/Plain-Light.otf') format('opentype');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px; /* match header height */
}

body {
    margin: $gutter;
    padding: $gutter;
    font-family: 'Optimo-Plain';
    font-size: $font-size-normal;
}

main {
    display: flow-root;
    background-color: var(--body-background-color);
}

main.withHeaderFooter {
    display: flex;
}

* {
    box-sizing: border-box;
}

strong,
b {
    font-weight: bold;
}

.anchor {
    display: block;
    padding-top: 80px; /* height of sticky header */
    margin-top: -80px;
}

.anchor-link {
    scroll-margin: 120px;
}

a {
    text-decoration: none;
}

.m-0 {
    margin: $gutter;
}

.containerWrapper {
    padding: 13px 25px;
}

.d-inline-block {
    display: inline-block;
}

/*active class with background*/

.activelink {
    background: $hovercolor;
    color: var(--secondary-color);
}

/*end active class with background*/

/*active class without background*/
/*to override document componet style used important*/
.active {
    color: var(--secondary-color) !important;
}

/*active class without background*/

/*visited class*/

.visited {
    color: $disabledcolor;
}

/*end visited class*/

.introWrapper {
    display: flex;
}

.documentWrapperContainer {
    height: calc(100vh - $header-height - $document-padding);
    width: calc(100%);
    overflow-y: auto;

    &:not(:last-child) {
        margin-right: 4rem;
    }
}

.documentWrapperContainer::-webkit-scrollbar {
    display: none;
}

.docmapWrapper {
    height: calc(100vh - $header-height - $document-padding);
    padding: 10px $padding-md 80px $padding-md;
    width: 25%;
    overflow-y: auto;
}

.docmapWrapper::-webkit-scrollbar {
    display: none;
}

.playgroundWrapper {
    margin-top: $header-height;
    height: calc(100vh - $header-height);
    width: 100%;
    overflow-y: auto;
}

.pb-10 {
    padding-bottom: 10px;
}

// TODO : improve all this to use flex
.restApiWrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    iframe {
        // for back button
        height: calc(100% - 45px);
        border: none;
    }
}

// in case header is loaded
.withHeaderFooter .restApiWrapper {
    height: calc(100vh - $header-height);
}

button {
    cursor: pointer;
}

.widthAuto {
    width: auto;
    img {
        width: auto;
        max-width: 100%;
    }
}

.bordered img {
    border: 1px solid var(--border-color);
}

.displayNone {
    display: none;
}

.icon {
    color: var(--icon-color);
}

/*Tags style start*/

.video {
    width: 800px;
    height: 600px;
}

.tag {
    border-radius: $tag-border-radius;
    display: inline-block;
    font-size: $tag-font-size !important;
    font-weight: $tag-font-weight !important;
    height: $tag-height;
    line-height: $tag-line-height !important;
    margin-right: $tag-margin-right;
    text-align: center;
    min-width: $tag-width;
    padding: $tag-padding;
    color: $tag-font-color;
}
.tag.tick {
    border-radius: $tag-border-radius;
    display: inline-flex;
    font-size: 13px !important;
    font-weight: $tag-font-weight !important;
    height: 18px;
    margin-right: $tag-margin-right;
    align-items: center;
    min-width: $tag-width;
    padding: 9px 5px;
    color: $tag-font-color;
}
.tag.tick.greyBackground {
    background-color: var(--body-background-color);
    color: var(--primary-color);
}

.version {
    display: inline-block;
    font-size: $font-size-small;
    height: 25px;
    line-height: $line-height-doc;
    text-align: center;
    margin: 2px;
    min-width: $tag-width;
    padding: $tag-padding;
    color: var(--primary-color);
    border: solid 1px;
    border-color: $disabledcolor;
}
.deprecated {
    display: inline-block;
    font-size: $font-size-small;
    height: 25px;
    line-height: $line-height-doc;
    text-align: center;
    margin: 2px;
    min-width: $tag-width;
    padding: $tag-padding;
    color: var(--primary-color);
    border: solid 1px $highlight-darkred;
}

.definedInTag {
    font-size: $font-size-small;
    line-height: 8pt;
    margin: 0;
    color: $darkgrey;
    a {
        color: $darkgrey;
    }
}

.beta {
    border-radius: $beta-border-radius;
    display: inline-flex;
    font-size: 11px;
    display: inline-flex;
    font-size: 11px;
    font-weight: $font-weight-normal;
    height: 22px;
    min-width: $tag-width;
    padding: $beta-padding;
    color: $tag-font-color;
    margin: -3px 3px 3px;
    justify-content: center;
    align-items: center;
}

.earlyAccess {
    border-radius: $beta-border-radius;
    display: inline-flex;
    font-size: 11px;
    display: inline-flex;
    font-size: 11px;
    font-weight: $font-weight-normal;
    height: 22px;
    min-width: $tag-width;
    padding: $beta-padding;
    color: $tag-font-color;
    margin: -3px 3px 3px;
    justify-content: center;
    align-items: center;
}

.blueBackground {
    background-color: $note-color;
}

.purpleBackground {
    background-color: #8c62f5;
}

.redBackground {
    background-color: $important-color;
}

.greenBackground {
    background-color: $tip-color;
}

.greyBackground {
    background-color: #eaedf2;
}

.greyDarkBackground {
    background-color: #a5acb9;
}

.orangeBackground {
    background-color: $warning-color;
}

.yellowBackground {
    background-color: $tag-color-yellow;
}

.noBackground {
    background-color: $tag-color-white;
}

.lightBackground {
    background-color: $tag-color-light;
}

.betaBackground {
    background-color: #06bf7f;
}

.eaBackground {
    background-color: #8c62f5;
}

/*Tags style end*/

/* Div box style start */

.announcementBlock {
    border: 0.5px solid $disabledcolor;
    font-color: var(--announcement-font-color);
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: $padding-sm $padding-sm $padding-sm $padding-md;
    background-color: var(--announcement-block-color);
}

.boxDiv {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid $lightgrey;

    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.typeDoc {
    padding: 15px;
    display: inline-block;
    margin-left: 0;
    margin: 10px 10px 10px 0;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-top: 2px solid #d3d3d3;
    border-radius: 0;
}

.codeTypeDoc {
    font-color: #188038;
}

.parameter {
    font-size: $font-size-doc;
    font-weight: bold;
    line-height: 14pt;
    margin: 0;
    color: var(--primary-color);
}

.container {
    margin: 0 0 30px 0;
    padding: 0px;
    width: auto;
}

.homeHeader {
    display: inline-block;
    padding: 5px;
    width: 100%;
    margin: 0;
    vertical-align: top;
}

.homeHeaderText {
    display: inline-block;
    padding: 5px 5px 5px 20px;
    width: 600px;
    max-width: 33%;
    margin: 0;
    vertical-align: top;
}

.homeBullet {
    border-radius: 25pt;
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-bold;
    line-height: $tag-line-height !important;
    margin-right: $tag-margin-right;
    text-align: center;
    min-width: auto;
    padding: 0 8px 0 8px;
    color: $darkblue;
}

.blockHome {
    border-top: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
    margin: 20px 10px 5px 10px;
}

.blockHomeContent {
    padding: 15px;
    display: inline-block;
    margin: 10px;
}

.boxHalfWidth {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;
    max-height: 500px;
    width: auto;
    max-width: 500px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}
.definedInTag {
    color: gray;
    a {
        color: gray;
    }
}

.boxFullWidth {
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 15px;
    overflow: scroll;
}

.divider {
    border-bottom: 0.5px solid var(--border-color);
    display: block;
    width: 100%;
    margin: 5px auto;
}

.typeDocBlock {
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 0.5px solid var(--border-color);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.boxBody {
    font-size: 13px;
    font-weight: $font-weight-normal;
    line-height: 18pt;
    color: var(--primary-color);
    padding: 5px;
}

.introList {
    font-size: 13px;
    font-weight: $font-weight-normal;
    line-height: 18pt;
    color: var(--primary-color);
    padding: 5px 5px $padding-md 5px;
    overflow: auto;
}

.boxAuto {
    border: 0.5px solid $disabledcolor;
    height: auto;
    width: 100%;
    padding: 0 0 0 2px;
}

.tableContainer {
    border: 0.5px solid $disabledcolor;
    padding: 0 0 0 5px;
    overflow-x: auto;
}

.tableStyle1 {
    border: none !important;
    padding: 0 !important;
    td {
        border: none !important;

        .tag {
            margin: 5px 5px 5px 0;
        }
    }
}

.admonitionblock.note {
    border-left: 5px solid var(--var-note-color);
    td.content {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    td.icon {
        left: 20px !important;
        top: 5px !important;
    }
}
.admonitionblock.important {
    border-left: 5px solid var(--var-important-color);
    td.content {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    td.icon {
        left: 20px !important;
        top: 5px !important;
    }
}
.admonitionblock.warning {
    border-left: 5px solid var(--var-important-color);
    td.content {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    td.icon {
        left: 20px !important;
        top: 5px !important;
    }
}

.videoContainer {
    border-radius: 10px;
    overflow-x: auto;
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--border-color);
    margin: 10px;
    padding: 15px;
}

summary.title {
    font-size: $font-size-summ-title;
    margin-top: $margin-sm;
    margin-left: 3px;
    font-weight: $font-weight-normal;
    line-height: $line-height-doc;
    color: var(--primary-color);
}

.introTile {
    padding: $padding-md;
    display: inline-block;
    margin: 1px;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-top: 0.5px solid $lightgrey;
    height: 700px;
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

.cardHead {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    color: var(--primary-color);
    font-size: $font-size-h5;
    margin: auto;
    padding: 10px;
    font-weight: $font-weight-bold;
}

.cardBlockHeading {
    margin-top: $margin-lg;
    padding-bottom: $padding-sm;
    border-bottom: 1px solid var(--border-color);
    font-size: 26px;
    font-weight: $font-weight-bold;
    text-align: center;
}

a.anchor {
    position: absolute;
    text-decoration: none;
    width: 1.75ex;
    margin-left: -1.5ex;
    visibility: hidden;
    font-size: 0.8em;
    font-weight: 400;
}

.introCard {
    padding: 15px;
    display: inline-block;
    position: relative;
    height: 225px;
    max-height: 500px;
    width: 300px;
    max-width: 400px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    &:hover {
        box-shadow: var(--box-shadow-hover);
    }
}

/* Div box style end */

/*Scrollbar styling start*/
::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar {
    height: 0.4em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    outline: none;
    border-radius: 4px;
}

.documentBody {
    width: 100%;
    margin-top: $header-height;
    height: calc(100vh - $header-height);
    overflow-x: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .docmapWrapper {
        width: 35%;
    }
}

@media screen and (min-width: $tablet-resolution-min) and (max-width: $tablet-resolution-max) {
    .docmapWrapper {
        display: none;
    }
}

@media screen and (max-width: $tablet-resolution-max) {
    .docmapWrapper {
        display: none;
    }
}

/* Scrollbar styling end*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .homeBanner {
        display: none;
    }

    .homeHeader {
        width: 100%;
        max-width: 100%;
    }

    .documentWrapperContainer {
        width: 100%;

        &:not(:last-child) {
            margin-right: 0px;
        }
    }
    .homeHeaderText {
        width: 100%;
        max-width: 100%;
    }
    .homeHeader {
        width: 100%;
    }
    .introTile {
        height: 100%;
        margin: 10px;
    }
    .boxBody {
        font-size: 12px;
    }
}

@media screen and (max-width: $tablet-resolution-min) {
    .documentWrapperContainer {
        width: 100%;
        overflow-x: auto;

        &:not(:last-child) {
            margin-right: 0px;
        }

        pre {
            overflow-x: auto;
        }
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    .documentWrapperContainer {
        width: 100%;
        overflow-x: auto;

        &:not(:last-child) {
            margin-right: 0px;
        }

        pre {
            overflow-x: auto;
        }
    }
}

.leftNavContainer {
    margin-top: $header-height;
    height: calc(100vh - $header-height);
}

@media screen and (max-width: $mobile-resolution-max) {
    .homeBanner {
        display: none;
    }

    .homeHeader {
        width: 100%;
        max-width: 100%;
    }

    .blockHome {
        border: 0;
    }

    .containerWrapper {
        padding: 10px 10px 10px 12px;
    }

    .documentBody {
        padding-left: 0;
        padding-right: 0;
    }

    .homeHeaderText {
        width: 100%;
        max-width: 100%;
        border-top: 0.5px solid var(--border-color);
    }

    .blockHome {
        border: 0;
    }

    .introCard {
        width: 100%;
    }

    .boxDiv {
        width: 100%;
    }

    .boxHalfWidth {
        width: 100%;
    }

    .introTile {
        height: 100%;
        margin: 5px;
    }
    .tableContainer {
        overflow: scroll;
    }
    .leftNavContainer {
        margin-top: 0px;
        height: auto;
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    main.withHeaderFooter {
        flex-direction: column;
    }
}

.searchResultHighlightColor {
    color: var(--secondary-color);
}

/* typedoc styles*/

.typedoc-Enumeration,
.typedoc-Enumeration_member,
.typedoc-Class,
.typedoc-Class_member,
.typedoc-Interface,
.typedoc-Interface_member,
.typedoc-Type_alias,
.typedoc-Constructor,
.typedoc-Method,
.typedoc-Property,
.typedoc-Function {
    :before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 17px;
        margin: 0 3px 2px 0;
        background-image: url(../icons/icons.png);
    }
    a {
        word-wrap: break-word;
        white-space: nowrap;
    }
}

.typedoc-Enumeration {
    a {
        color: #bf982a;
    }
    :before {
        background-position: 0px -136px;
        background-image: url(../icons/icons.png);
    }
}

.typedoc-Enumeration_member {
    a {
        color: #937210;
    }
    :before {
        background-position: 0px -136px;
        background-image: url(../icons/icons.png);
    }
}

.typedoc-Constructor {
    a {
        color: #0672de;
    }
    :before {
        background-position: -51px -102px;
        background-image: url(../icons/icons.png);
    }
}

.typedoc-Method {
    a {
        color: #0672de;
    }
    :before {
        background-position: -68px -68px;
        background-image: url(../icons/icons.png);
    }
}

.typedoc-Property {
    a {
        color: #647f1b;
    }
    :before {
        background-position: -221px 0px;
        background-image: url(../icons/icons.png);
    }
}

.typedoc-signature {
    a {
        color: #937210;
    }
    :before {
        background-position: 0px -153px;
    }
}

.typedoc-Class {
    a {
        color: #0550ae;
    }
    :before {
        background-position: 0px -34px;
    }
}

.typedoc-Class_member {
    a {
        color: #0550ae;
    }
    :before {
        background-position: -51px -102px;
    }
}

.typedoc-Interface {
    a {
        color: #647f1b;
    }
    :before {
        background-position: 0px -68px;
        display: inline-block;
        background-image: url(../icons/icons.png);
    }
}

.typedoc-Type_alias {
    a {
        color: rgb(144, 10, 227);
    }
    :before {
        background-position: 0px -170px;
    }
}

.typedoc-Function {
    a {
        color: rgb(144, 10, 227);
    }
    :before {
        background-position: -136px -68px;
    }
}
.header-banner {
    min-height: 259px;
    background-color: var(--header-background-color);
    color: var(--header-primary-color);
    padding: 40px 0 0 40px;

    .header-banner-text {
        display: flex;
        flex-direction: column;
        width: 60%;
        h1 {
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
            margin: 0;
            color: var(--header-primary-color);
        }
        h5 {
            font-size: $font-size-h5;
            color: var(--header-primary-color);
            font-weight: $font-weight-normal;
            line-height: 24px;
            letter-spacing: -0.064px;
        }
    }
}

.document-body-wrapper {
    padding: 30px;
}
.searchInputBanner {
    padding: 20px 0;
    .searchIcon {
        left: 25px;
        height: 20px;
        width: 20px;
        bottom: 8px;
        color: var(--border-color);
    }
    .searchInputContainer {
        width: 50%;
        margin-left: -20px;
    }
    .search-input-banner {
        width: 100%;
        border-bottom: 1px solid var(--body-background-color);
        height: 40px;
        padding-left: 36px;
        font-size: 18px;
        color: var(--border-color);
        cursor: text;
    }
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
