@import '../../assets/styles/variables.scss';

.docmapLinks {
    width: -webkit-fill-available;
    font-size: 13px;
    height: 100lvh;


    .tocTitle {
        margin: 0;
        color: $disabledcolor;
        line-height: $line-height-normal;
        padding-left: 0;
    }

    div {
        ul {
            margin-top: 10px;
            list-style-type: none;
            padding-left: 0;
            border-left: 1px solid var(--docmap-border-color);

            li {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                padding: 2px 0 20px 12px;
                border: none;

                > a {
                    color: var(--primary-color);
                    font-weight: $font-weight-normal;
                    display: flex;
                    flex-grow: 1;
                    width: 80%;
                }

                > a:hover {
                    color: var(--var-note-color);
                }

                &.activeTag {
                    &::before {
                        content: '';
                        position: absolute;
                        left: -1px;
                        top: 0;
                        bottom: 10px;
                        width: 1px;
                        background: var(--var-note-color);
                    }

                    > a {
                        color: var(--var-note-color) !important;
                        font-weight: 500;
                    }
                }

                /* Level 2 (H3) */
                ul {
                    width: 100%;
                    padding-left: 5px;
                    padding-top: 4px;
                    border: none;

                    li {
                        padding-bottom: 12px;

                        a {
                            color: var(--var-docmap-nested-color);
                            font-size: 13px;
                        }

                        &.activeTag > a {
                            color: var(--var-note-color) !important;
                            font-weight: 500;
                        }

                        /* Level 3 (H4) */
                        ul {
                            padding-left: 10px;
                            padding-top: 2px;

                            li {
                                padding-bottom: 6px;

                                a {
                                    font-size: 13px;
                                    color: var(--var-docmap-nested-color);
                                    opacity: 0.8;
                                }

                                &.activeTag > a {
                                    color: var(--var-note-color) !important;
                                    font-weight: 500;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #toctitle {
        display: none;
    }
}

.defaultStyle {
    color: var(--primary-color);
    padding: 8px 0;
    display: inline-block;
}

.activeTag {
    color: var(--var-note-color) !important;
}

@media screen and (min-width: $tablet-resolution-min) and (max-width: $tablet-resolution-max) {
    .docmapLinks {
        display: none;
    }
    .header-banner .header-banner-text {
        width: 100% !important;
    }
    .searchInputBanner .searchInputContainer {
        width: 100% !important;
    }
}

@media screen and (max-width: $tablet-resolution-max) {
    .docmapLinks {
        display: none;
    }
}
