@import '../../assets/styles/variables.scss';

.docmapLinks {
    width: 16%;
    padding: 10px $padding-md $padding-md $padding-md;
    position: fixed;
    right: 0;
    font-size: 14px;
    height: 100vh;
    overflow-y: auto;

    .tocTitle {
        margin: 0;
        color: $disabledcolor;
        line-height: $line-height-normal;
        padding-left: 0;
    }

    div {
        ul {
            margin-top: 10px;
            list-style-type: none;
            padding-left: 0;
            background-color: var(--border-color) solid;
          
            
         
            li {
                display: flex;
                border-left: 2px solid #d9d9d9;
                padding-bottom: 25px;
                a {
                    color: var(--primary-color);
                    font-weight: $font-weight-normal;
                    display: block;
                }

                a:hover {
                    color: var(--secondary-color);
                }

                ul {
                    padding-left: $padding-nested-ul;
                }
            }
            li:last-child {
                border: none;
                padding-left: 2px;
            }
            li::before {
                content: ' ';
                border-radius: 50%;
                padding: 0px 6px;
                background: #d9d9d9;
                position: relative;
                left: -7px;
                height: 14px;
               
            }
            .active::before{
                background: var(--secondary-color) !important;

            }
        }
    }

    #toctitle {
        display: none;
    }
}

.defaultStyle {
    color: var(--primary-color);
    padding: 8px 0;
    display: inline-block;
}

.activeTag {
    color: var(--secondary-color) !important;
}

@media screen and (min-width: $tablet-resolution-min) and (max-width: $tablet-resolution-max) {
    .docmapLinks {
        display: none;
    }
}

@media screen and (max-width: $mobile-resolution-max) {
    .docmapLinks {
        display: none;
    }
}
